h1 {
    color:#6d6875;
    text-align: center;
    font-stretch: ultra-condensed;
}

.cancel-img {
    width: 2em;
}


@keyframes toast-slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/* .hire {

} */